.header {
  height: 96px;
  width: 1440px;
  top: 0%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
  margin: auto;
}
.header-logo {
  position: relative;
  width: 211.52px;
  height: 35px;
  margin-left: 40px;
  top: 31px;
}
.search-div {
  position: absolute;
  width: 695px;
  margin-left: 445px;
  bottom: 1915px;
  top: 24px;
  height: 48px;
  background-color: #eeeeee;
  border-radius: 100px;
  color: #b0b0b0;
  padding-top: 10px;
  padding-left: 10px;
}
.search-div-input {
  position: absolute;
  width: 695px;
  top: 0px;
  margin-left: 10px;
  height: 48px;
  background-color: #eeeeee;
  border-radius: 100px;
  color: #b0b0b0;
  border: 0;
}
.div-basket {
  position: absolute;
  width: 120px;
  height: 48px;
  margin-left: 1241px;
  top: 23px;
  padding-top: 10px;
  bottom: 1916px;
  padding-left: 20px;
  border: 1px solid #b0b0b0;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 143%;
  color: #b0b0b0;
}
.div-basket:hover .basket-detail {
  display: inline;
}
.basket-detail {
  position: absolute;
  width: 303px;
  height: 303px;
  right: 0px;
  top: 48px;
  z-index: 1;
  border: 1px solid #b0b0b0;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 143%;
  color: #b0b0b0;
  display: none;
  background-color: white;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.basket-content {
  height: 60px;
  width: 285px;
  margin-top: 4px;
}
.basket-content-text {
  position: absolute;
  width: 170px;
  height: 32px;
  margin-top: -60px;
  margin-left: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #484848;
}
.basket-content-button {
  position: absolute;
  width: 47px;
  height: 16px;
  margin-top: -25px;
  margin-left: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  background: #ffffff;
  border: 1px solid #f90000;
  border-radius: 4px;

  color: #f90000;
}
.basket-image {
  width: 40px;
  height: 60px;
}
.div-filter {
  height: 96px;
  width: 1440px;
  top: 0%;
  margin: auto;
}
.div-filter-left {
  position: absolute;
  width: 303px;
  height: 35px;
  top: 110px;
  margin-left: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 100%;
  /* or 28px */

  color: #484848;
}
.div-filter-left-search-result {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  display: flex;
  align-items: center;

  color: #b0b0b0;
}
.div-filter-middle {
  position: relative;
  width: 834px;
  height: 35px;
  margin-left: 303px;
}
.div-filter-right {
  position: absolute;
  width: 120px;
  height: 48px;
  margin-left: 1241px;
  top: 110px;
  bottom: 1916px;
  border: 1px solid #b0b0b0;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 143%;
  color: #b0b0b0;
}
.button-style {
  position: absolute;
  width: 120px;
  height: 48px;
  border: 1px solid #b0b0b0;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 143%;
  color: #b0b0b0;
}
